# Visual Studio
.vs/
*.user
*.suo

# Build outputs
**/bin/
**/obj/

# Git
.git/
.gitignore

# IDE
.idea/
.vscode/

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/*.tfvars

# Tests
tests/

# Documentation
doc/

# Other
*.md
*.zip
deploy.zip
